.pokecard{
    text-align: center;
    margin-top: 105px;
    border-radius: 10px;
    width: 260px;
    height: 260px;
    margin: 30px 20px 30px 30px;
    background-color: white;
    box-shadow: 5px 10px 12px -5px rgba(0, 0, 0, 0.573);
}
.cardcontener{
    float: left;
    padding-left: 45px;
}

.pokename{
    padding-top: 5px;
}
.img{
    width: 100px;
    height: 110px;
     
}
.poke-type{
    margin-top: 20px;
    margin-bottom: 3px;
}

@media screen and (max-width: 1064px) {
    .cardcontener{
        padding-left: 10%;
    }
}
@media screen and (max-width:775px) {
    .cardcontener{
        padding-left: 30%;
    }
}
@media screen and (max-width:620px) {
    .cardcontener{
        padding-left: 15%;
    }
}
@media screen and (max-width:430px) {
    .cardcontener{
        padding-left: 10vw;

    }
}
@media screen and (max-width:360px) {
    .cardcontener{
        padding-left: 3vw;

    }
}
@media screen and (max-width:330px) {
    .cardcontener{
        padding-left: 0%;

    }
    .pokecard{
       margin-left: 20px;
        
    }
}